<section class="section">
  <div class="container">
    <h1 class="title">Public Stories</h1>
    <div class="columns is-multiline">
      {{#each stories}}
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="https://bulma.io/images/placeholders/640x320.png" alt="Placeholder image">
            </figure>
            <a class="button is-danger is-rounded edit-button" href="/stories/edit/{{id}}">
              <span class="icon">
                <i class="fas fa-pencil-alt"></i>
              </span>
              <span>Edit</span>
            </a>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img class="user-img" src="{{user.image}}" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <a href="/stories/show/{{id}}">
                  <p class="title is-4">{{truncate title 50}}</p>
                </a>
                <p class="subtitle is-6">{{user.firstName}} {{user.lastName}}</p>
              </div>
            </div>

            <div class="content">
              {{stripTags (truncate body 200)}}
              <br>
              <span>{{date}}</span>
            </div>
          </div>
        </div>
      </div>
      {{else}}
      <p>No public stories to display.</p>
      {{/each}}

    </div>
  </div>

</section>